div.minesweeper {
	border-top: 1px solid black;
	border-left: 1px solid black;
	width: 900px;
	height: 480px;
}

div.minesweeper .row > div {
	background-color: #4658c5;
	height: 100%;
	float: left;
	text-align: center;
	color: white;
	
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: inset 5px 5px 15px #5b7ee3;
	
	cursor: pointer;
	overflow: hidden;
}

div.minesweeper .row > div:not(.openCase):hover {
	background-color: #68a6f4;
}

div.minesweeper .openCase {
	font-weight: bold !important;
	background-color: #dbe9f4 !important;
	box-shadow: inset 1px 1px 1px #89898b !important;
	cursor: defaul !important;
}

div.minesweeper .case0 {
	font-size: 0;
}

div.minesweeper .case1 {
	color: #414fbc !important;
}

div.minesweeper .case2 {
	color: #1b6800 !important;
}

div.minesweeper .case3 {
	color: #aa0505 !important;
}

div.minesweeper .case4 {
	color: #050184 !important;
}

div.minesweeper .case5 {
	color: #7e0002 !important;
}

div.minesweeper .case6 {
	color: #097984 !important;
}

div.minesweeper .case7 {
	color: #9c0703 !important;
}

div.minesweeper .case8 {
	color: #ad0600 !important;
}

div.minesweeper .caseX {
	background-color: #9b3434 !important;
}